
      * {
        font-size:18px;
    }
 
     h4 {
         text-align:center;
         padding:15px;
     }
 
      input[type="number"]{
          width:50px;
      }
     
      #main {
          text-align:justify;
          padding:25px;
          width:32%;
          margin:50px auto;
          background-color:#E6E6E6;
          border-radius:7px;
          background-color:#F1F1F1; 
          border:1px solid #d8d2d2;
          box-shadow: 2px 2px 7px #999797;
      }
 
      #btn {
          margin:15px 0;
      }
 
 #err {
     text-align:center;
     color:red;
 }